@import url(variables.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.header__information{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 24px 0;
}

.welcome__message{

    display: flex;
    flex-direction: column;
    gap: 4px;
}

.welcome__message p{
    width: 100%;
    color: var(--color-1);
    font-size: 12px;
    font-family: "EncodeSans-Regular";
}

.welcome__message h2{
    font-size: 16px;
    width: 100%;
    color: var(--color-2);
    font-family: "EncodeSans-Bold";
}

.profile__picture img{
    max-width: 32px;
    max-height: 32px;
}

.search__box{
    display: flex;
    margin: 16px 24px;
    border-radius: 10px;
    gap: 16px;
}

.row{
    display: flex;
    align-items: center;
    gap: 8px;
    border: 2px solid red;
    flex: 1;
}

.row button{
    position: relative;
    background: transparent;
    left: 16px;
    border: 0;
    outline: 0;
}

input {
    font-family: "EncodeSans-Regular";
    width: 83%;
    max-height: 2.5rem;
    border: 0;
    outline: 0;
    font-size: 1rem;
    color: var(--color-3);
}

.search__box img{
    stroke: var(--color-3);
}

.results {
    max-height: 20rem;
    overflow-y: auto;
}

.boton__filtro {
    display: flex;
    align-items: center;
    background-color: var(--color-5);
    padding: 12px; 
    border-radius: 10px; 
    border: none;
}

