<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
    <link rel="stylesheet" href="../css/detail.css">
</head>
<body>
    <header>
        <div class="options">
            <a href="../index.html"><img src="../storage/img/arrow-left.png" alt=""></a>
            <button><img src="../storage/img/heart-black.png" alt=""></button>
        </div>
    </header>
    <main>
        <section class="main__information">
            <div class="top">
                <div class="title">
                    <h1>Light Dress Bless</h1>
                    <div class="rating">
                        <img src="../storage/img/rate-star.png" alt="">
                        <p>5.0</p>
                        <em>(7.932 reviews)</em>
                    </div>
                </div>
                <div class="quantity">
                    <button><img src="../storage/img/substract-item.png" alt=""></button>
                    <p>1</p>
                    <button><img src="../storage/img/add-item.png" alt=""></button>
                </div>
            </div>
            <div class="subinformation">
                <p>Its simple and elegant shape makes it perfect for
                    those of you who like you who want minimalist
                    clothes
                    <details class="no-arrow">
                        <summary >Read More</summary>
                        that are both stylish and comfortable for everyday wear.
                    </details>
                </p>
            </div>
        </section>
        <section class="inputs">
            <div class="size">
                <p>Choose size</p>
                <button>S</button>
                <button>M</button>
                <button>L</button>
                <button>XL</button>
            </div>
            <div class="color">
                <p>Color</p>
                <button></button>
                <button></button>
                <button></button>
            </div>
        </section>
    </main>
    <footer>
        <a href="checkout.html" class="info__footer">
            <div class="price">
                    <img src="../storage/img/shopping-cart.png" alt="">
                    <b>Add to Cart | $162.99</b>
                    <p>$190.99</p>
            </div>
        </a>
    </footer>
</body>
</html>