<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
    <link rel="stylesheet" href="../css/detail-1.css">
</head>
<body>
    <header>
        <div class="options">
            <img src="../storage/img/Product-1.png" alt="">
            <a href="../index.html"><img src="../storage/img/arrow-left.png" alt=""></a>
            <button><img src="../storage/img/heart-black.png" alt=""></button>
        </div>
    </header>
    <main>
        <section class="main__information">
            <div class="top">
                <div class="title">
                    <h1>Modern light clothes</h1>
                    <div class="rating">
                        <div class="rate">
                            <img src="../storage/img/rate-star.png" alt="">
                            <p>5.0</p>
                        </div>
                        <em>(4.890 reviews)</em>
                    </div>
                </div>
                <div class="quantity">
                    <button><img src="../storage/img/substract-item.png" alt=""></button>
                    <p>1</p>
                    <button><img src="../storage/img/add-item.png" alt=""></button>
                </div>
            </div>
            <div class="subinformation">
                <p>
                    This effortlessly cool look blends comfort and style, perfect for those who love a laid-back yet trendy vibe. The bold accessories add
                    <details class="no-arrow">
                        <summary><span class="read-more">Read More...</span></summary>
                        <p>a touch of personality, making it a standout choice for everyday wear.</p>
                    </details>
                </p>
            </div>            
        </section>
        <section class="inputs">
            <img src="../storage/img/Strip.png" alt="">
            <div class="all__options">
                <div class="size">
                    <p>Choose size</p>
                    <div class="selections">
                        <input type="radio" id="size-s" name="size">
                        <label for="size-s" class="size-btn">S</label>
                        
                        <input type="radio" id="size-m" name="size">
                        <label for="size-m" class="size-btn">M</label>
                        
                        <input type="radio" id="size-l" name="size">
                        <label for="size-l" class="size-btn">L</label>
                        
                        <input type="radio" id="size-xl" name="size">
                        <label for="size-xl" class="size-btn">XL</label>
                    </div>
                </div>
                
                <div class="color">
                    <p>Color</p>
                    <div class="selections">
                        <input type="radio" id="color1" name="color">
                        <label for="color1" class="color-btn"></label>
                        
                        <input type="radio" id="color2" name="color">
                        <label for="color2" class="color-btn"></label>
                        
                        <input type="radio" id="color3" name="color">
                        <label for="color3" class="color-btn"></label>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <a href="checkout.html" class="info__footer">
            <div class="price">
                    <img src="../storage/img/shopping-cart.png" alt="">
                    <b>Add to Cart | $212.99</b>
                    <p>$250.99</p>
            </div>
        </a>
    </footer>
</body>
</html>